* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner{
	display: inline-block;
<<<<<<< HEAD
	font-family: sans-serif;
	width: 100%;
	text-align: center;
=======
	position: relative;
	font-family: sans-serif;
	left: 50%;
>>>>>>> eb5aa3ffce05582e28a7d8bc2403af6d8253a15c

}

#banner p{
	display: inline-block;
	position: relative;
	font-family: sans-serif;
<<<<<<< HEAD

}


#container{
	width: 800px;
	height: 8000px;
	margin: 25px auto;
=======
	float: left;

}

#container{
	width: 960px;
	height: 960px;
	margin: 25px auto;
	background-color: #000;
>>>>>>> eb5aa3ffce05582e28a7d8bc2403af6d8253a15c
}

.grid{
	margin: 0;
	width: 60px;
	height: 60px;
	display: inline-block;
	border: 1px dotted rgba(0, 0, 0, .05);
	float: left;
	background-color: #fff;
}
